body {
  color: #d2d2d2;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
}

/* Next.js に合うように public/scss/main.scss の内容を修正 */
#header {
  background-image: url('/scss/images/overlay.png'), url('/images/bg.jpg');
}
